[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.apk
*.exe
*.db
*.swp
.DS_Store
.vscode/
.idea/
Packages/com.ptc.vuforia.engine-11.2.4.tgz
Assets/Editor/Migration/com.ptc.vuforia.engine-11.2.4.tgz
Packages/com.ptc.vuforia.engine-11.2.4.tgz
